* {
    margin:0;
    padding:0;
    list-style:none;
    text-decoration:none;
    font-family: "Open Sans";
    }

    .banner {
        background-image: radial-gradient(rgba(255,153,79,255 ), rgba(250,83,32,255));
    }

    .banner img{
    padding-top:1.04%;
    padding-left: 2.08%;
    width:20%;

    }

    .fombtn {
        padding-left: 80%;
        top:20px;
    }

   .formcontainer{
    background-image: radial-gradient(rgba(255,153,79,255 ), rgba(250,83,32,255));
    height:90%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
   }

.mc_embed_signup_scroll{
    padding-top:1%;
}
